MTCSSTextArea {background-color: purple;}
MTCSSRectangle {background-color: green;}
MTCSSPolygon {background-color: red; }
.MTEllipse {background-color: white; }
* {border-color: blue; background-color: black; }
MTCSSRectangle > MTCSSTextArea {background-color: lime;}
MTCSSRectangle MTCSSTextArea {background-color: blue;}
MTCSSRectangle MTCSSRectangle {background-color: gray;}
#fonttest {font-family: sans; font-style: normal; font-weight: light;}
#widthtest {width: 90px;}
#heighttest {height: 110px;}
#sizetest {width: 120px; height: 450px;}